header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: space-between;
}

.react-logo {
  height: 50px;
  width: 50px;
}

.signInLogo {
  width:30px;
  height:30px;
  margin-right: 6px;
  object-fit: 'cover';
}
