h2, article {
    color: whitesmoke;
    margin-bottom: 23px;
}

h2 {
    font-size: 44px;
}

article {
    font-size: 18px;
}

input[type=text] {
    border-radius: 8px;
    width: 610px;
    height: 55px;
    padding-left: 10px;
    background-image: url();
    font-size: 16px;
}

.link-text:link {
    text-decoration: none;
    color: #33bfe3;
}

.link-text:visited {
    text-decoration: none;
    color: #33bfe3;
    background-color: transparent;
}

.link-text:hover {
    text-decoration: underline;
    color: #55c8e5;
}

.homepage-body {
    width: 100%;
    min-height: 100vh;
}

.homepage-firstsection {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 45px;
    height: 550px;
}

.link-section {
    margin-top: 18px;
}

.homepage-secondsection {
    height: 550px;
    background-color: #202020;
}

.homepage-left-content {
    text-align: left;
    margin: 30px;
    width: 610px;
}

@media only screen and (max-width: 900px)  {
    .homepage-body-content {
        flex-direction: column;
    }

    .homepage-left,.homepage-right {
        width: 100%;
    }
}